BicycleStation/BicycleStation/Web References/StationDBService/stationtodbregister.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:StationToDB_Service" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:StationToDB_Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:StationToDB_Service">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="BookingObject">
        <xsd:all>
          <xsd:element name="booking_id" type="xsd:int" />
          <xsd:element name="start_time" type="xsd:int" />
          <xsd:element name="start_station" type="xsd:int" />
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="for_user" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BookingObjectArray">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BicycleWithBookingUnlockedRequest">
    <wsdl:part name="station_id" type="xsd:int" />
    <wsdl:part name="booking_id" type="xsd:int" />
    <wsdl:part name="bicycle_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="BicycleWithBookingUnlockedResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="BicycleTakenRequest">
    <wsdl:part name="station_id" type="xsd:int" />
    <wsdl:part name="bicycle_id" type="xsd:int" />
    <wsdl:part name="booking_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="BicycleTakenResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="BicycleReturnedToDockAtStationRequest">
    <wsdl:part name="bicycle_id" type="xsd:int" />
    <wsdl:part name="station_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="BicycleReturnedToDockAtStationResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getBookingWithIdRequest">
    <wsdl:part name="booking_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="getBookingWithIdResponse">
    <wsdl:part name="return" type="tns:BookingObject" />
  </wsdl:message>
  <wsdl:message name="GetAllBookingsForStationRequest">
    <wsdl:part name="station_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="GetAllBookingsForStationResponse">
    <wsdl:part name="return" type="tns:BookingObjectArray" />
  </wsdl:message>
  <wsdl:message name="SyncDockStatusRequest">
    <wsdl:part name="bicycleIds" type="xsd:string" />
    <wsdl:part name="numFree" type="xsd:int" />
    <wsdl:part name="station_id" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="SyncDockStatusResponse">
    <wsdl:part name="return" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="StationToDB_ServicePortType">
    <wsdl:operation name="BicycleWithBookingUnlocked">
      <documentation>Registers that a given bicycle has been unlocked from a given station with a booking</documentation>
      <wsdl:input message="tns:BicycleWithBookingUnlockedRequest" />
      <wsdl:output message="tns:BicycleWithBookingUnlockedResponse" />
    </wsdl:operation>
    <wsdl:operation name="BicycleTaken">
      <documentation>Registers that a given bicycle has been taken from a given station, aka removed from dock</documentation>
      <wsdl:input message="tns:BicycleTakenRequest" />
      <wsdl:output message="tns:BicycleTakenResponse" />
    </wsdl:operation>
    <wsdl:operation name="BicycleReturnedToDockAtStation">
      <documentation>Registers that a given bicycle has arrived at a given dock at a given station</documentation>
      <wsdl:input message="tns:BicycleReturnedToDockAtStationRequest" />
      <wsdl:output message="tns:BicycleReturnedToDockAtStationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getBookingWithId">
      <documentation>Get booking with booking id</documentation>
      <wsdl:input message="tns:getBookingWithIdRequest" />
      <wsdl:output message="tns:getBookingWithIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBookingsForStation">
      <documentation>Get all bookings for station</documentation>
      <wsdl:input message="tns:GetAllBookingsForStationRequest" />
      <wsdl:output message="tns:GetAllBookingsForStationResponse" />
    </wsdl:operation>
    <wsdl:operation name="SyncDockStatus">
      <documentation>Synchronise the status of all docks and bicycles</documentation>
      <wsdl:input message="tns:SyncDockStatusRequest" />
      <wsdl:output message="tns:SyncDockStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StationToDB_ServiceBinding" type="tns:StationToDB_ServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="BicycleWithBookingUnlocked">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BicycleTaken">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BicycleReturnedToDockAtStation">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBookingWithId">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StationToDB_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StationToDB_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBookingsForStation">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:StationToDB_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:StationToDB_Service" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncDockStatus">
      <soap:operation soapAction="urn:StationToDB_Service#soapaction" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:StationToDB_Service" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StationToDB_Service">
    <wsdl:port name="StationToDB_ServicePort" binding="tns:StationToDB_ServiceBinding">
      <soap:address location="http://172.25.23.67/interface/stationtodbregister.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>